<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= link_to "Next page", users_path(start_id: @users.last.id) %>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>
<%= link_to "Next page", users_path(start_id: @users.last.id) %> | 
<%= link_to "New user", new_user_path %>
